<script type="text/javascript" template-section="onCompose">
    node
        .addDefault("counterConfig", { type:"CounterMetricConfigNode", required: true })
</script>

<script type="text/javascript" template-section="onIncludeEditPrepare">

    let metricsEnabled = $("#node-{{#if config.isConfigNode}}config-{{/if}}input-metricsEnabled");
    let metricsEnabledSection = $("#section_metricsEnabled");

    metricsEnabled.on('change', function() {
        if(metricsEnabled.prop("checked")){
            metricsEnabledSection.show();
            node._def.defaults.metricsReference.required = true;
        }
        else{
            metricsEnabledSection.hide()
            node._def.defaults.metricsReference.required = false;
        }
    });
</script>

<script type="text/javascript" template-section="onIncludeEditSave">
 
</script>

<script type="text/html" template-section="onIncludeEditForm">
    <!-- CounterMetric -->
    <div id="section_countermetricconfig">
        <div class="form-row">
            <label class="towb_editorlabel" for="node-input-counterConfig"><i class="fa fa-bar-chart"></i> Counter</label>
            <input type="text" id="node-input-counterConfig" />
        </div>
    </div>
</script>

<script type="text/markdown" template-section="onIncludeDocumentation">
### Counter
    : *counter* (counterconfig) : the counter that would be incremented whenever a message is received.
</script>