<script type="text/javascript" template-section="onCompose">
    node
        .addDefault("counterConfig", { type:"CounterMetricConfigNode", required: true })
</script>

<script type="text/javascript" template-section="onIncludeEditPrepare">
    $.ajax({
        url: "metricsservice/config",
        type: "GET",
        contentType: "application/json; charset=utf-8",
        success: (response) => {
            $("#section_countermetricconfig").show();
            $("#section_countermetricconfig_disabled").hide();
        },
        error: (jqXHR, textStatus, errorThrown) => {
            // do nothing.
            console.log(jqXHR, textStatus, errorThrown);
        }
    });

    let metricsEnabled = $("#node-{{#if config.isConfigNode}}config-{{/if}}input-metricsEnabled");
    let metricsEnabledSection = $("#section_metricsEnabled");

    metricsEnabled.on('change', function() {
        if(metricsEnabled.prop("checked")){
            metricsEnabledSection.show();
            node._def.defaults.metricsReference.required = true;
        }
        else{
            metricsEnabledSection.hide()
            node._def.defaults.metricsReference.required = false;
        }
    });
</script>

<script type="text/javascript" template-section="onIncludeEditSave">
 
</script>

<script type="text/html" template-section="onIncludeEditForm">
    <!-- CounterMetric -->
    <div id="section_countermetricconfig" style="display:none;">
        <div class="form-row">
            <label for="node-input-counterConfig"><i class="fa fa-tag"></i> Counter</label>
            <input type="text" id="node-input-counterConfig" />
        </div>
    </div>
    <div id="section_countermetricconfig_disabled">
        <div class="form-row">
            <span>It looks like the metrics core plugin is not installed.</span><br/>
            <span>Metrics Functionality will be unavialable</span>
        </div>
    </div>
</script>

<script type="text/markdown" template-section="onIncludeDocumentation">
### Counter
    : *counter* (counterconfig) : the counter that would be incremented whenever a message is received.
</script>