<script type="text/javascript" template-section="onCompose">
    node
        .addDefault("gaugeConfig", { type:"GaugeMetricConfigNode", required: true })
</script>

<script type="text/javascript" template-section="onIncludeEditPrepare">
    let metricsEnabled = $("#node-{{#if config.isConfigNode}}config-{{/if}}input-metricsEnabled");
    let metricsEnabledSection = $("#section_metricsEnabled");
    
    metricsEnabled.on('change', function() {
        if(metricsEnabled.prop("checked")){
            metricsEnabledSection.show();
            node._def.defaults.metricsReference.required = true;
        }
        else{
            metricsEnabledSection.hide()
            node._def.defaults.metricsReference.required = false;
        }
    });
</script>

<script type="text/javascript" template-section="onIncludeEditSave">
 
</script>

<script type="text/html" template-section="onIncludeEditForm">
    <!-- GaugeMetric -->
    <div id="section_gaugemetricconfig">
        <div class="form-row">
            <label class="towb_editorlabel" for="node-input-gaugeConfig"><i class="fa fa-bar-chart"></i> Gauge</label>
            <input type="text" id="node-input-gaugeConfig" />
        </div>
    </div>
</script>

<script type="text/markdown" template-section="onIncludeDocumentation">
    ### Gauge
    : *gauge* (gaugeconfig) : the gauge that would be incremented / decremented whenever a message is received.
</script>
